# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db
# Banco de dados local SQLite
backend/coachai.db